@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=League+Gothic&family=Lexend+Peta:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800;900&family=Staatliches&display=swap");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
}

.nav-bar {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.nav-bar svg {
  margin-left: 4rem;
}

.nav-links {
  display: flex;
  margin-right: 20%;
}

.links {
  position: absolute;
  top: 2rem;
  right: 36%;
}

.links a {
  margin-left: 4rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(134, 134, 134);
}

.links a:hover {
  color: rgb(0, 0, 0);
}

.req-invite {
  position: absolute;
  top: 1.2rem;
  right: 10%;
  font-size: 1.1rem;
  text-decoration: none;
  background-color: rgb(31, 228, 90);
  padding: 1.2rem 2rem;
  align-items: center;
  color: white;
  font-weight: 600;
  border-radius: 2rem;
  transition: 0.5s ease-in-out;
}

.req-invite:hover {
  transform: scale(1.1);
}
.nav-btn {
  opacity: 0;
}

.main-sct {
  display: flex;
  background-color: rgb(248, 248, 248);
  padding-bottom: 13rem;
}

.main-container {
  margin: 16rem;
}

.main-title {
  font-size: 5rem;
  width: 60%;
  font-weight: 400;
  opacity: 0.9;
}

.main-paragraph {
  margin-top: 4rem;
  font-size: 1.4rem;
  opacity: 0.7;
  line-height: 2rem;
  width: 40%;
}

.main-req-invite {
  position: absolute;
  bottom: 21rem;
  left: 11.2%;
  font-size: 1.1rem;
  text-decoration: none;
  background-color: rgb(31, 228, 90);
  padding: 1.2rem 2rem;
  align-items: center;
  color: white;
  font-weight: 600;
  border-radius: 2rem;
  transition: 0.5s ease-in-out;
}

.main-req-invite:hover {
  transform: scale(1.1);
}

.main-img {
  position: absolute;
  top: 2rem;
  right: 10rem;
  height: auto;
  width: 40%;
}

.about-sct {
  background-color: rgb(238, 238, 238);
}

.about-container {
  padding: 8%;
}

.about-title {
  font-size: 3.5rem;
  font-weight: 500;
  opacity: 0.8;
}

.about-paragraph {
  font-size: 1.3rem;
  margin-top: 2rem;
  width: 43%;
  line-height: 2rem;
  opacity: 0.7;
}

.cards {
  margin-top: 6rem;
  display: flex;
}

.card {
  margin-right: 8rem;
  transition: 0.7s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card svg {
  margin-bottom: 2rem;
}

.card-title {
  margin-bottom: 2rem;
  font-size: 2rem;
  opacity: 0.9;
  font-weight: 500;
}

.card-paragraph {
  font-size: 1.2rem;
  line-height: 1.8rem;
  opacity: 0.7;
  width: 100%;
}

@media (max-width: 760px) {
  .req-invite {
    margin-right: 4rem;
  }
  .links {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 40rem;
    right: 0;
    opacity: 0;
    top: 6rem;
    padding-top: 2rem;
    background-color: rgb(31, 228, 90);
    z-index: 999;
  }

  .isactive {
    opacity: 1;
  }

  .links a {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: white;
    margin-top: 3rem;
    transition: 0.5s ease-in-out;
  }

  .links a:hover {
    transform: scale(1.1);
  }

  .nav-btn {
    opacity: 1;
    position: absolute;
    right: 2rem;
    top: 2.3rem;
    cursor: pointer;
  }
}

@keyframes navAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
